
#container-aviso {
    background-color: #00000099;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px;
    height: 100vh;
    position: fixed;
    z-index: 10;
    color: white;
}

#sub-container-aviso {
    box-shadow: 0px 0px 3px 0px #ffffff21;
    border-radius: 1xxxxxxxxxx,mk7px;
    padding: 24px 30px;
    text-align: center;
    background-color: #363636;
    max-width: 500px;
}

#btn-cancelar{
    margin-left: 0.3rem;
}